* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --navy-blue: #1F2937;
    --light-blue: #3882F6;
    --white: #F9FAF8;
    --gray-white: #E5E7EB;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

section, footer {
    max-width: 1440px;
    min-width: 1440px;
    padding: 0 200px 0 200px;
}

.section-1, footer {
    background-color: var(--navy-blue);
}

.section-2, .section-4 {
    background-color: var(--white);
}

.section-3 {
    background-color: var(--gray-white);
}

/* === SECTION 1 STYLING === */

.banner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

.navlinks {
    display: flex;
    list-style: none;
    align-items: center;
}

.navlink a {
    padding-left: 20px;
}

.navlink a, .logo a {
    text-decoration: none;
}

.hero-text p, .navlink a {
    font-size: 18px;
    color: var(--gray-white);
}

.logo a {
    font-size: 24px;
    font-weight: bold;
}

.logo a, .hero-text h1 {
    color: var(--white);
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.hero-text {
    min-width: 43%;
    max-width: 43%;
}

.hero-text button {
    width: 125px;
    height: 40px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--light-blue);
    border-style: none;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

/* === SECTION 2 STYLING === */

.section-2 h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
}

.img-blocks {
    display: flex;
    justify-content: center;
}

.img-row {
    display: flex;
}

.img-item {
    text-align: center;
    margin: 0 20px 125px 20px;
}

.img-item img {
    border: 5px solid var(--light-blue);
    border-radius: 10px;
}

.img-item figcaption {
    max-width: 175px;
    color: var(--navy-blue);
    font-size: 18px;
}

/* === SECTION 3 STYLING === */



/* === SECTION 4 STYLING === */



/* === FOOTER STYLING === */

